<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/spellingWords.jpg">
</div>
<h2>Here are some links to help you start: </h2>

<div>
  <p>Name: <input [(ngModel)]="user.name" placeholder="name" ></p>
  <p>Your name is {{this.user.name}}</p> 

  <input (keyup)="onKey($event)">
  <p>{{values}}</p>
  <button (click)="refresh()">refresh</button>
  <button (click)="getData()">Fetch Word</button>
</div>
